@media screen and (min-width: 769px) {

    #group{
        background-image: url(Images/blue_watercolor.png);
    }
    
}

    #group{
        background-image: url(Images/blue_watercolor.png);
    }


    #tasks{
        background-image: url(Images/blue_watercolor.png);
    }

